<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>EasyFlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/static/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/amcharts.js"></script>
    <script src="/static/js/serial.js"></script>
    <script src="/static/js/light.js"></script>
    <script src="/static/js/radar.js"></script>
    <link href="/static/css/barChart.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/fabochart.css" rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src="/static/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="/static/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!--menu-right-->
                <div class="top_menu">
                    <div class="float-left">
                        <a><h1>
                            <img src="/static/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            <span>EasyFlight易飞</span></h1></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--//menu-right-->
                <div class="clearfix"></div>
            </div>
            <!-- //header-ends -->
            <!--//outer-wp-->
            <div class="outter-wp">
                <div class="sub-heard-part">
                    <ol class="breadcrumb m-b-0">
                        <li>系统管理</li>
                        <li class="active">角色管理</li>
                    </ol>
                </div>

                <div class="inbox-mail">
                    <div class="col-md-12 compose">
                        <form action="#" method="GET">
                            <div class="input-group input-group-in">
                                <input type="text" name="search" class="form-control2 input-search" placeholder="输入角色名查找">
                                <span class="input-group-btn">
														<button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
													</span>
                            </div><!-- Input Group -->
                        </form>
                    </div>
                    <!-- tab content -->
                    <div class="col-md-12 tab-content tab-content-in">
                        <div class="tab-pane active text-style" id="tab1">
                            <div class="inbox-right">

                                <div class="mailbox-content">
                                    <div class="mail-toolbar clearfix">

                                        <div class="float-left">
                                            <p class="four">
                                                <a class="a_demo_four" href="#">
                                                    点击新建
                                                </a>
                                            </p>


                                        </div>

                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr class="table-row">
                                            <th>角色名称</th>
                                            <th>上级角色</th>
                                            <th>角色描述</th>
                                            <th>具有权限</th>
                                            <th>操作</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        <tr >
                                            <td class="table-text">
                                                <h6> Lorem ipsum</h6>
                                                <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                            </td>
                                            <td>
                                                <span class="fam">Family</span>
                                            </td>
                                            <td >
                                                <i class="fa fa-star-half-o icon-state-warning"></i>
                                            </td>
                                            <td>
                                                <div align="center">

                                                    <a href="#" class="font-red" title="">
                                                        <i class="fa fa-pencil-square-o icon_9"></i>
                                                        修改&nbsp;&nbsp;
                                                    </a>
                                                    <a href="#" class="font-red" title="">
                                                        <i class="fa fa-times" icon_9=""></i>
                                                        删除&nbsp;&nbsp;
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>

            <!--//outer-wp-->
            <!--footer section start-->
            <footer>
                <p>Copyright &copy; 2019,EasyFlight  -  By SCU BaiGeiShaoNian </p>
            </footer>
            <!--footer section end-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html"> <span id="logo"> <h1>EasyFlight</h1></span>
            <!--<img id="logo" src="" alt="Logo"/>-->
        </a>
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <!--/down-->
        <div class="down">
            <a href="index.html"><img src="/static/images/admin.jpg"></a>
            <a href="index.html"><span class=" name-caret">Jasmin Leo</span></a>
            <p>System Administrator in Company</p>
            <ul>
                <li><a class="tooltips" href="index.html"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                <li><a class="tooltips" href="index.html"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
                <li><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
            </ul>
        </div>
        <!--//down-->
        <div class="menu">
            <ul id="menu">
                <li id="menu-academico" class="active"><a><i class="lnr lnr-book"></i> <span>系统管理</span> <span
                        class="fa fa-angle-right" style="float: right"></span></a>
                    <ul>
                        <li><a href="roleAdmin.html">角色管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>