<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>EasyFlight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/static/css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/amcharts.js"></script>
    <script src="/static/js/serial.js"></script>
    <script src="/static/js/light.js"></script>
    <script src="/static/js/radar.js"></script>
    <link href="/static/css/barChart.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/fabochart.css" rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src="/static/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="/static/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>
<div class="page-container">
    <!--/content-inner-->
    <div class="left-content">
        <div class="inner-content">
            <!-- header-starts -->
            <div class="header-section">
                <!--menu-right-->
                <div class="top_menu">
                    <div class="float-left">
                        <a><h1>
                            <img src="/static/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            <span>EasyFlight易飞</span></h1></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--//menu-right-->
                <div class="clearfix"></div>
            </div>
            <!-- //header-ends -->
            <!--//outer-wp-->
            <div class="outter-wp">
                <div class="sub-heard-part">
                    <ol class="breadcrumb m-b-0">
                        <li>数据管理</li>
                        <li class="active">任务配置</li>
                    </ol>
                </div>

                <div class="graph-form">
                    <div class="validation-form">
                        <!---->

                        <form>
                            <div class="col-md-12 form-group1 group-mail">
                                <label class="control-label">指定时间</label>
                                <input type="time" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.time" required="">
                            </div>
                            <div class="clearfix"> </div>
                            <div class="col-md-12 form-group2 group-mail">
                                <label class="control-label">选择数据源</label>
                                <select>
                                    <option value="">网上爬取</option>
                                    <option value="">第三方数据平台接口</option>
                                    <option value="">本地数据库</option>
                                </select>
                            </div>
                            <div class="clearfix"> </div>
                            <div class="col-md-12 form-group2 group-mail">
                                <label class="control-label">选择格式</label>
                                <select>
                                    <option value="">格式1</option>
                                    <option value="">格式2</option>
                                    <option value="">格式3</option>
                                    <option value="">格式4</option>
                                </select>
                            </div>
                            <div class="clearfix"> </div>

                            <div class="col-md-12 form-group button-2">
                                <button type="reset" class="btn btn-default">重置</button>
                                <button type="submit" class="btn btn-primary">配置</button>
                            </div>
                            <div class="clearfix"> </div>
                        </form>

                        <!---->
                    </div>

                </div>

            </div>

            <!--//outer-wp-->
            <!--footer section start-->
            <footer>
                <p>Copyright &copy; 2019,EasyFlight  -  By SCU BaiGeiShaoNian </p>
            </footer>
            <!--footer section end-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="../index"> <span id="logo"> <h1>EasyFlight</h1></span>
            <!--<img id="logo" src="" alt="Logo"/>-->
        </a>
        </header>
        <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
        <!--/down-->
        <div class="down">
            <a href="../index"><img src="/static/images/admin.jpg"></a>
            <a href="../index"><span class=" name-caret">Jasmin Leo</span></a>
            <p>System Administrator in Company</p>
            <ul>
                <li><a class="tooltips" href="../index"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                <li><a class="tooltips" href="../index"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
                <li><a class="tooltips" href="../index"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
            </ul>
        </div>
        <!--//down-->
        <div class="menu">
            <ul id="menu">
                <li id="menu-academico" class="active"><a><i class="lnr lnr-book"></i> <span>数据管理</span> <span
                        class="fa fa-angle-right" style="float: right"></span></a>
                    <ul>
                        <li><a href="../dataConfig">任务配置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    var toggle = true;

    $(".sidebar-icon").click(function() {
        if (toggle)
        {
            $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
            $("#menu span").css({"position":"absolute"});
        }
        else
        {
            $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
            setTimeout(function() {
                $("#menu span").css({"position":"relative"});
            }, 400);
        }

        toggle = !toggle;
    });
</script>
<!--js -->
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>